*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;
}

body{
    background: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin-top: 40px;
    margin-left: 3.82%;
    width: 96.18%;
}

#logo{
    background: url('../assets/shared/logo.svg');
    width: 48px; 
    height: 48px;
}

.accessibility{
    visibility: hidden;
}

.navBtn{
    display: none;
}

#mainNav{
    text-align: center;
    width: 59.93%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(30.5485px);
}

#navigations{
    margin: 39px 19.88% 38px 14.82%;
    display: flex;
    justify-content: space-between;
    width: 542px;
    height: 19px;
}

#navigations li{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
    position: relative;
}

.mainNavList::after{
    content: '';
	background: #fff;
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: -200%;
	left: 0;
    transition: all .5s ease;
}

.mainNavList:hover::after{
	width: 100%;
}

#active::after{
    content: '';
	background: #fff;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -200%;
	left: 0;
}


.mainNavList span{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    margin-right: 11px;
    font-weight: 700;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}

a{
    color: #fff;
}

h1{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75em;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 76px 0 0 166.5px;
}

h1 span{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 28px;
}


#mainSection{
    position: relative;
    margin: 64px 0 0 0;
    height: 600px;
    overflow: hidden;
}

.planet{
    position: absolute;
    right: 500%;
    top: 39px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 445px;
    height: 445px;
    transition: all 1s ease;
    margin-right: 51.81%;
}

.moon{
    background: url('../assets/destination/image-moon.png');
    right: 0;
}
.mars{
    background: url('../assets/destination/image-mars.png');
}
.europa{
    background: url('../assets/destination/image-europa.png');
}
.titan{
    background: url('../assets/destination/image-titan.png');
} 

.innerSection{
    position: absolute;
    left: 57.78%;
    color: #fff;
    width: 445px;
}

#minorNav{
    Width: 285.5px;
    Height: 34px;
}

#minorNav ul{
    display: flex;
    justify-content: space-between;
}

.minorNavList{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    position: relative;
    cursor: pointer;
}

.minorNavList::after{
    content: '';
	background: #fff;
	width: 0%;
	height: 2px;
	position: absolute;
	bottom: -50%;
	left: 0;
    transition: all .5s ease;
}

.minorNavList:hover::after{
	width: 100%;
}

.minorNavActive::after{
    content: '';
    background: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -50%;
    left: 0;
}

.innerSectionContent{
    position: absolute;
    top: 71px;
    left: 500%;
    transition: all 1s ease;
}

.moonInnerSectionContent{
    left: 0%;
}


h2{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #FFFFFF;
}

p{
    padding-bottom: 54px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(61, 59, 59);
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 32px;
    color: #D0D6F9;
}

.innerSectionDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    width: 344px;
}

.innerSectionDiv > div{
    display: flex;
    flex-direction: column;
}

.innerSectionDivSPanOne{
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 17px;  
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: #D0D6F9;
}

.innerSectionDivSPanTwo{
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media(max-width: 1144px){
    #mainNav{
        width: 80.93%;
    }
    .innerSection{
        width: 340px;
    }
    .planet{
        background-repeat: no-repeat;
    background-size: cover;
        width: 340px;
        height: 340px;
    }#mainSection{
        height: 100vh;
    }
}

@media(max-width: 820px){
    body{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }
    header{
        margin-top: 0;
        margin-left: 5.08%;
        width: 94.92%;
    }
    #mainNav{
        width: 64.72%;
    }
    #navigations{
        margin: 39px 19.88% 38px 14.82%;
        width: 356px;
    }
    ul{
        width: 356px;
    }
    .mainNavList span{
        display: none;
    }
    .mainNavList{
        font-size: 0.875em;
        line-height: 17px;
    }
    #mainSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 120vh;
        width: 100vw;
    }
    h1{
        margin: 76px 0 0 38.5px;
    }
    .planet{
        top: 0px;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 30.47% 0 30.47%;
    }
    .moon{
        content: url('../assets/destination/image-moon.png');
        right: 0;
    }
    #minorNav{
        transform: translate(-10%);
    }
    .innerSection{
        left: 15%;
        top: 353px;
        width: 69.87%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .innerSectionContent{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 690px){
    #mainNav{
        width: 87.72%;
    }
    #navigations{
        margin: 39px 19.88% 38px 4.82%;
        width: 356px;
    }
    .planet{
        margin: 0 20.47% 0 30.47%;
    }
    #mainSection{
        height: 180vh;
    }
}

@media(max-width: 452px){
    #navigations{
        width: 300px;
    }
    .planet{
        margin: 0 15.47% 0 30.47%;
    }
}

@media(max-width: 415px){
    body{
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }
    header{
        height: 43px;
        margin-top: 24px;
        justify-content: space-between;
    }
    svg{
        width: 40px; 
        height: 40px;
    }
    #mainNav{
        display: flex;
        flex-direction: column;
        position: fixed;
        padding:  33.95px 0 0 32px;
        right: -100vw;
        top: 0;
        height: 100%;
        width: 65vw;
        z-index: 10;
        transition: all .8s ease;
    }
    #closeNavMobile{
        position: fixed;
        width: 60vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        display: none;
    }
    .openBtn{
        display: block;
        background: url('../assets/shared/icon-hamburger.svg');
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        margin-right: 24px;
        width: 24px;
        height: 21px;
    }.closeBtn{
        display: block;
        background: url('../assets/shared/icon-close.svg');
        align-self: end;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        margin: 0 26.45px 64.95px 0;
        width: 19.09px;
        height: 19.09px;
    }
    #navigations{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 95%;
        height: 150px;
    }
    .mainNavList{
        width: 100%;
        text-align: start;
        font-size: 1em;
        line-height: 19px;
        letter-spacing: 2.7px;
        color:rgba(255, 255, 255, 0.85);
    }
    .mainNavList span{
        display: inline;
        font-size: 1em;
        line-height: 19px;
        letter-spacing: 2.7px;
    }
    #active::after, .mainNavList::after{
        display: none;
    }
    #active::before{
        content: '';
        background: #fff;
        height: 120%;
        width: 3px;
        position: absolute;
        right: 0px;
    }
    h1{
        font-size: 1em;
        line-height: 19px;
        letter-spacing: 2.7px;
        margin-left: 72.5px;
    }
    h1 > span{
        font-size: 1em;
        line-height: 19px;
        letter-spacing: 2.7px;
    }
    .planet{
        width: 300px;
        height: 300px;
        margin-right: 9.47%;
    }
    #mainSection{
        height: 1150px;
    }
    #minorNav ul{
        width: 237.5px;
        transform: translate(23%);
    }
    h2{
        font-size: 3.5em;
        line-height: 64px;
    }
    p{
        font-size: 0.936em;
        line-height: 25px;
        text-align: center;
    }
    .innerSectionDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 154px;
    }
}